extends base
mixin listLayout(icon,text,link,active)
  li(class=`${active?'side-nav--active':''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#${icon}`)
      | #{text}

block content 
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
  
          +listLayout('icon-settings','Settings','#',true)
          +listLayout('icon-briefcase','My bookings',`/my-tours`,false)
          +listLayout('icon-star','My reviews','#',false)
          +listLayout('icon-credit-card','Billing','#',false)

        -const logic = user.role==='admin'
        if(logic)
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +listLayout('icon-map','Manage tours','#',false)
              +listLayout('icon-users','Manage users','#',false)
              +listLayout('icon-star','Manage reviews','#',false)
    

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          //CALL FROM THE BACKEND ROUTE
          //- form.form.form-user-data(method='POST' action='/user-change-info') 
          
          //CALL FROM THE FRONTEND API
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text',name='name' value=`${user.name}`, required)
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email',name='email' value=`${user.email}`, required)
            .form__group.form__photo-upload
              img.form__user-photo(src=`img/users/${user.photo}`, alt=`${user.name}`)
              input.form__upload(type='file', accept='image/*', name='photo', id='photo')
              label(for='photo') Change Profile Photo
            .form__group.right
              button.btn.btn--small.btn--green Save settings
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-settings
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.password-change-button Save password
